.register{
    .container-fluid{
        height: 100vh !important;
    }

    .register-hero{
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        height: 100vh !important;
    }

    .hero-overlay{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.007)) !important;
        transform: translateX(-5%) !important;
        width: 100% !important;
        height: 100vh !important;
    }
    ul{
        list-style: square;
    }
    .right-section{
        max-height: 100vh;
        overflow-y: auto;

    }
}