@use "../_variables.scss" as *;

.impact-wrapper {
  padding: 3rem 1rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  .section-title {
    max-width: 800px;
    margin: 0 auto 3rem auto;

    .feature-label {
      color: $primary-color;
      font-weight: 600;
      font-size: 0.95rem;
      i {
        margin-right: 0.5rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      color: #0b0b2e;
      font-weight: 800;
      margin: 0.5rem 0 1rem 0;
    }

    .description {
      color: #7c7c7c;
      font-size: 1rem;
    }
  }

  .impact-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .impact-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;

      img {
        width: 100%;
        border-radius: 1rem;
        max-width: 400px;
        min-height: 300px;
        object-fit: cover;
      }

      .text-block {
        margin-top: 1rem;
        text-align: center;

        .percentage {
          font-size: 2rem;
          color: $primary-color;
          font-weight: 800;
        }

        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          margin: 0.5rem 0;
          color: #0b0b2e;
        }

        p {
          color: #7c7c7c;
          font-size: 0.95rem;
        }

        i {
          font-size: 1.5rem;
          margin-top: 1rem;
          color: $primary-color;
        }
      }
    }

    .reverse {
      flex-direction: column-reverse;
    }
  }
}
