// variavles
$primary-color:#00bf39;
$secondary-color: #CCFFCC;
$success-color: #5CE65C;
$dark-color: #033803;
$middark-color: #068506;
$light-color: #ececec;
$danger-color: #FF4C4C;
$warning-color: #FFCC00;
$info-color: #00BFFF;
$green-muted: rgba(3, 56, 3, 0.86);
$border-radius : 30px;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

